//top-bar
$bg-color: #292929;
$text-color: #ffffff;
$box-shadow: 0px 2px 5px #0000001a;
$padding: 10px;
$hover-underline: underline;
//Footer
$background-color: #292929;
$text-color: white;
$hover-lighten-percentage: 20%;
$icon-font-size: 30px;
$icon-gap-size: 2vh;
$margin-media-mode: 1vh auto;
